.list1_img {
float: left;
width: 33%;
}
.list1_text{
float: left;
width: 67%;
}
.list1_text h3{
    font-size: 12px;
    font-style: bold;
}
.list1_text p{
    font-size: 10px;
    float: left;
    
}
.img-responsive{
    height: 90px;
    width: 90px;
    float: left;
   
}
.rec_art1{
    list-style: none;
    margin: 1px;
    padding: 5px;
    box-shadow: 0 0 5px #aaa;
    background: white;
    height: 100px;
    
}
footer{
    text-align: left;
    font-size: 10px;
    margin-bottom: 20px;
}
